@import "variables.scss";
@import "snippets.scss";

header {
    background-color: $color-dark-purple;
}
nav > ol {
    padding: 0;

    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

nav > ol > li {
    display: inline-block;
    font-size: $secondary-font-size;
}

.navbar--current-page {
    @include taste-the-rainbow();
    color: transparent;
}
