@import "variables.scss";

@mixin spin {
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    animation: 3s linear spin infinite;
}

@mixin pulse($from, $to: 0em) {
    animation: 3s linear pulse infinite;
    width: $to;

    @keyframes pulse {
        0% { width: $to; }
        50% { width: $from; }
        100% { width: $to; }
    }
}

@mixin taste-the-rainbow($clip: text) {
    animation: rainbow-gradient-bg 3s linear infinite;
    background: $gradient-rainbow;
    background-clip: $clip;

    // NO discontinuities.
    background-size: 10000%;

    @keyframes rainbow-gradient-bg {
        0% { background-position: 0%; }
        100% { background-position: 100%; }
    }
}
