@import "normalize.scss";

@import "snippets.scss";
@import "navbar.scss";
@import "variables.scss";

html {
    font-family: $font;
}

html, body {
    height: 100vh;
}

body {
    display: grid;
    grid-template-rows: 1fr 7fr 1fr;
}

img {
    width: 5em;
    @include spin();
}

footer {
    background-color: rgb(75%, 75%, 75%);
    display: flex;
}

footer > span {
    display: inline-block;
    width: 100%;
    font-size: $secondary-font-size;
    text-align: center;
}
