<!doctype html>
{%if section %}
{% set navname = section.components | first %}
{% else %}{% set navname = page.components | first %}
{% endif %}
<html class="no-js" lang="">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>My Super Cool Website!</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<link rel="stylesheet" href="/style.css" />
<!-- Place favicon.ico in the root directory -->

</head>
<body>
    <header>
        <nav>
            <ol>
                {% for item in config.extra.menu %}
                <li><a class="{% if item.url is containing(navname) %}
                              navbar--current-page
                              {% else %}
                              {% endif %}"
                       href="{{ item.url }}">
                    {{ item.name }}
                </a></li>
                {% endfor %}
            </ol>
        </nav>
    </header>
    <main>
        {% block main %}
        {% endblock main %}
    </main>
    <footer>
        {% block footer %}
        <span>Copyright (c) 2022 {{ config.extra.author }}.</span>
        {% endblock footer %}
    </footer>
</body>
</html>
